<%- include('header'), {seoDetails} %>

<section data-anim-wrap class="pageHero -type-1 -items-center">
    <div data-anim-child="img-right cover-white delay-1" class="pageHero__bg">
      <img src="/assets/img/pageHero/3.png" alt="image">
    </div>

    <div class="container">
      <div class="row justify-center">
        <div class="col-auto">
          <div data-split='lines' data-anim-child="split-lines delay-3" style="height: 120px;" class="pageHero__content text-center" >
            <h1 style="font-size: 100px;" class=" text-white"  >Blogs</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/blogcard.ejs') %>
 



  <%- include('footer') %>