<footer class="footer -type-1 bg-accent-1 text-white">
    <div class="footer__main">
      <div class="container">
        <div class="footer__grid">
          <div class="">
            <h4 class="text-30 fw-500 text-white">About Us</h4>

            <div class="text-white-60 text-15 lh-17 mt-60 md:mt-20">
                Babylon Capital PVT. LTd. has created a name for itself as one of the best 5-star hotels in Raipur. We are a team of enthusiasts passionate about making each day memorable for all our guests.
            </div>
          </div>

          <div class="">
            <h4 class="text-30 fw-500 text-white">Contact</h4>

            <div class="d-flex flex-column mt-60 md:mt-20">
              <div class="">
                <a class="d-block text-15 text-white-60 lh-17" href="#">
                    VIP Chowk, G.E. Road , Raipur, Chhatishgarh - 492006 ( India)
                </a>
              </div>
              <div class="mt-25">
                <a class="d-block text-15 text-white-60" href="">
                    info@babyloncapital.in
                </a>
              </div>
              <div class="mt-10">
                <a class="d-block text-15 text-white-60" href="#">
                    0771 6677777 <br>
                    9109247777
                </a>
              </div>
            </div>
          </div>

          <div class="">
            <h4 class="text-30 fw-500 text-white">Links</h4>

            <div class="row x-gap-50 y-gap-15">
              <div class="col-sm-6">
                <div class="y-gap-15 text-15 text-white-60 mt-60 md:mt-20">

                  <a class="d-block" href="#">
                    About Hotel
                  </a>

                  <a class="d-block" href="#">
                    Our Rooms
                  </a>

                  <a class="d-block" href="#">
                    Restaurant &amp; Bar
                  </a>

                  <a class="d-block" href="#">
                    Spa &amp; Wellness
                  </a>

                  <a class="d-block" href="#">
                    Contact
                  </a>

                </div>
              </div>

              <div class="col-sm-6">
                <div class="y-gap-15 text-15 text-white-60 mt-60 md:mt-20">

                  <a class="d-block" href="#">
                    Privacy Policy
                  </a>

                  <a class="d-block" href="#">
                    Terms &amp; Conditions
                  </a>

                  <a class="d-block" href="#">
                    Get Directions
                  </a>

                </div>
              </div>
            </div>
          </div>

          <div class="">
            <h4 class="text-30 fw-500 text-white">Newsletter Sign Up</h4>

            <p class="text-15 text-white-60 mt-60 md:mt-20">Sign up for our news, deals and special offers.</p>

            <div class="footer__newsletter mt-30">
              <input type="Email" placeholder="Your email address">
              <button><i class="icon-arrow-right text-white text-20"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="container">
        <div class="row y-gap-30 justify-between md:justify-center items-center">
          <div class="col-md-auto">
            <div class="text-15 text-center text-white-60">Copyright © 2025 by Babylon Capital</div>
          </div>

          <div class="col-md-auto">
            <div class="footer__bottom_center">
              <div class="d-flex justify-center">
                <img style="height: 80px;" src="/assets/img/babylon-logo.png" alt="logo">
              </div>
            </div>
          </div>

          <div class="col-md-auto">
            <div class="row x-gap-25 y-gap-10 items-center justify-center">

              <div class="col-auto">
                <a href="#" class="d-block text-white-60">
                  <i class="icon-facebook text-11"></i>
                </a>
              </div>

              <div class="col-auto">
                <a href="#" class="d-block text-white-60">
                  <i class="icon-twitter text-11"></i>
                </a>
              </div>

              <div class="col-auto">
                <a href="#" class="d-block text-white-60">
                  <i class="icon-instagram text-11"></i>
                </a>
              </div>

              <div class="col-auto">
                <a href="#" class="d-block text-white-60">
                  <i class="icon-linkedin text-11"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


</main>

<!-- JavaScript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>
<script src="../../../unpkg.com/%40googlemaps/markerclusterer%402.5.3/dist/index.min.js"></script>
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="/assets/css/magnific-popup.css">

<!-- Magnific Popup JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/magnific-popup.js"></script>

<script src="/assets/js/vendors.js"></script>
<script src="/assets/js/main.js"></script>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Initialize Magnific Popup for images
    $('.image-popup').magnificPopup({
        type: 'image',
        gallery: {
            enabled: true // Enable gallery mode for navigation between images
        }
    });

  
});

</script>