<html lang="en" data-x="html" data-x-toggle="html-overflow-hidden">


<!-- Mirrored from creativelayers.net/themes/swiss-resort-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Feb 2025 06:39:57 GMT -->
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&amp;family=Jost:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/assets/css/vendors.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <title>babylon</title>
</head>

<body>
  <div class="menuFullScreen js-menuFullScreen">
    <div class="menuFullScreen__topMobile js-menuFullScreen-topMobile">
      <div class="d-flex items-center text-white js-menuFullScreen-toggle">
        <i class="icon-menu text-9"></i>
        <div class="text-15 uppercase ml-30 sm:d-none">Menu</div>
      </div>

      <div class="alogoimage">
        <a href="/">
        <img src="/assets/img/babylon-logo.png" alt="logo"></a>
      </div>

      <button class="button text-white mr-30 lg:mr-0">
        EN <i class="icon-chevron-down ml-15"></i>
      </button>
    </div>

    <div class="menuFullScreen__mobile__bg js-menuFullScreen-mobile-bg"></div>

    <div class="menuFullScreen__left">
      <div class="menuFullScreen__bg js-menuFullScreen-bg">
        <section>
          <div class="video-container" style="filter: brightness(0.3);">
            <video style="width:100%;"  id="autoplayVideo" muted loop>
                <source src="/assets/img/videolapse.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const video = document.getElementById("autoplayVideo");
        
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            video.play();
                        } else {
                            video.pause();
                            video.currentTime = 0; // Reset the video
                        }
                    });
                }, { threshold: 0.5 });
        
                observer.observe(video);
            });
        </script>
        
        </section>
      </div>

      <button class="menuFullScreen__close js-menuFullScreen-toggle js-menuFullScreen-close-btn">
        <span class="icon">
          <span></span>
          <span></span>
        </span>
        CLOSE
      </button>

      <div class="menuFullScreen-links js-menuFullScreen-links">

        <div class="menuFullScreen-links__item js-menuFullScreen-has-children">
          <a href="/">
            HOME
          </a>


        </div>

        <div class="menuFullScreen-links__item js-menuFullScreen-has-children">
          <a href="/rooms">
            ROOMS
           
          </a>


          <!-- <div class="menuFullScreen-links-subnav js-menuFullScreen-subnav">

            <div class="menuFullScreen-links-subnav__item">
              <a href="rooms-list-1.html">Rooms list 1</a>
            </div>

            <div class="menuFullScreen-links-subnav__item">
              <a href="rooms-list-2.html">Rooms list 2</a>
            </div>

            <div class="menuFullScreen-links-subnav__item">
              <a href="rooms-list-3.html">Rooms list 3</a>
            </div>

            <div class="menuFullScreen-links-subnav__item">
              <a href="rooms-list-4.html">Rooms list 4</a>
            </div>


          </div> -->


        </div>

        <div class="menuFullScreen-links__item ">
          <a href="/dining">
            DINING
          </a>
        </div>

        <div class="menuFullScreen-links__item ">
          <a href="/wedding">
            WEDDING
          </a>
        </div>

        <div class="menuFullScreen-links__item ">
          <a href="/mice">
            MICE
          </a>
        </div>


        <div class="menuFullScreen-links__item ">
          <a href="/offer">
            OFFER
          </a>
        </div>


        <div class="menuFullScreen-links__item ">
          <a href="/blogs">
            BLOGS
          </a>
        </div>

        <div class="menuFullScreen-links__item ">
          <a href="/gallery">
            GALLERY
          </a>
        </div>

        <div class="menuFullScreen-links__item ">
          <a href="/contact">
            CONTACT
          </a>
        </div>
       

      </div>
    </div>

    <div class="menuFullScreen__right js-menuFullScreen-right">
      <div class="text-center">
        <div class="mb-100">
          <a href="/">
          <img style="height: 120px;" src="/assets/img/logocolor.png" alt="image"></a>
        </div>

        <!-- <div class="text-sec lh-11 fw-500 text-40">
          Hotel & Spa Swiss<br>
          Resort
        </div> -->

        <div class="mt-40">
          <div class="text-30 text-sec fw-500">
            Location
          </div>
          <div class="mt-10">
            VIP Chowk, G.E. Road , Raipur, Chhatishgarh - 492006 ( India)
          </div>
        </div>

        <div class="mt-40">
          <div class="text-30 text-sec fw-500">
            Email
          </div>
          <div class="mt-10">
            <div>
              <a href="#">info@babyloncapital.in</a>
            </div>
          </div>
        </div>

        <div class="mt-40">
          <div class="text-30 text-sec fw-500">
            Connect With Us
          </div>
          <div class="mt-10">
            <a href="#">0771 6677777 <br>
              9109247777</a>
          </div>
        </div>
      </div>
    </div>

    <div class="menuFullScreen__bottomMobile js-menuFullScreen-buttomMobile">
      <button class="button rounded-200 w-1/1 py-20 -light-1 bg-accent-2">
        BOOK YOUR STAY
      </button>

      <a href="#" class="d-flex items-center mt-40">
        <i class="icon-phone mr-10"></i>
        <span>0771 6677777 <br>
            9109247777</span>
      </a>

      <a href="#" class="d-flex mt-20">
        <i class="icon-map mr-10"></i>
        <span>
          VIP Chowk, G.E. Road , Raipur, Chhatishgarh - 492006 ( India)
        </span>
      </a>

      <a href="#" class="d-flex items-center mt-20">
        <i class="icon-mail mr-10"></i>
        <span>info@babyloncapital.in</span>
      </a>
    </div>
  </div>


  <!-- cursor start -->
  <div class="cursor js-cursor">
    <div class="cursor__wrapper">
      <div class="cursor__follower js-follower"></div>
      <div class="cursor__label js-label"></div>
      <div class="cursor__icon js-icon"></div>
    </div>
  </div>
  <!-- cursor end -->

  <main>


    <header class="header -h-110 -mx-60 -blur -border-bottom-1 js-header" data-add-bg="bg-accent-1" data-x="header" data-x-toggle="-is-menu-opened">
      <div class="header__container h-full items-center">
        <div class="header__left d-flex items-center">
          <button class="d-flex items-center cursor-pointer js-menuFullScreen-toggle">
            <i class="icon-menu text-9 text-white"></i>
            <div class="text-15 uppercase text-white ml-30 sm:d-none">Menu</div>
          </button>

          <div class="d-flex items-center ml-90 xl:d-none">
            <i class="icon-phone text-20 text-white mr-30"></i>
            <div class="text-15 uppercase text-white">0771 6677777 <br>
                9109247777</div>
          </div>
        </div>

        <div class="header__center">
          <div class="header__logo"><a href="/">
            <img style="height: 80px;" src="/assets/img/babylon-logo.png" alt="logo"></a>
          </div>
        </div>

        <div class="header__right d-flex items-center h-full">
          <button class="button text-white mr-30 xl:mr-0">
            EN <i class="icon-chevron-down ml-15"></i>
          </button>

          <div class="line -vertical bg-white-10 h-full ml-90 mr-90 xl:d-none"></div>

          <button class="button text-white mr-30 xl:d-none">BOOK YOUR STAY</button>
        </div>
      </div>
    </header>