<%- include('header'), {seoDetails} %>

<section data-anim-wrap class="pageHero -type-2 -items-center">
    <div data-anim-child="img-right cover-white delay-1" class="pageHero__bg">
      <img src="/assets/img/moonlight1.avif" alt="image">
    </div>

    <div class="container">
      <div class="row justify-center">
        <div class="col-12">
          <div data-split='lines' data-anim-child="split-lines delay-3" class="pageHero__content text-center">
            <h1 class="pageHero__title lh-11 capitalize text-white">
              M.I.C.E.
            </h1>
            <div class="d-flex justify-center items-center x-gap-10 text-white mb-30">
                <div>Meetings</div>
                <div>
                  <div class="-circle-2 bg-white"></div>
                </div>
                <div>Incentives</div>
                <div>
                    <div class="-circle-2 bg-white"></div>
                  </div>
                  <div>Conferences</div>
                  <div>
                    <div class="-circle-2 bg-white"></div>
                  </div>
                  <div>Exhibitions</div>
              </div>
        
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="layout-pt-lg" style="padding-top: 60px;">
    <div data-anim="slide-up delay-1" class="container">
      <div class="row justify-center text-center">
        <div class="col-xl-10 col-lg-10">
          <i class="d-flex justify-center text-50 icon-firework mb-30"></i>

          <div class="row justify-center text-center">
            <div class="col-auto">
                <h2 class="text-64 uppercase mb-25 ">Experience M.I.C.E. at Babylon</h2>
            </div>
          </div>
          <h2 class="text-30 md:text-30" style="line-height: 1.4;">
            Let Babylon Capital be a step in your success, with a complete professional set-up for all kinds of business meets and events.

At Babylon, we take pride in undisputedly being one of the best business hotels in Raipur. Be it conferences, meetings, events or exhibitions, we have the perfectly built and the most coveted venues for it all.

Our hotel offers a spectrum of five magnificent venues and a banquet encompassing over 25,000 square feet of space. All of our spaces are dynamically high-tech in the most innovative fashion and offer all the essential meeting equipment as well as services.
          </h2>

        
        </div>
      </div>
    </div>
  </section> -->
  <section class="layout-pt-lg layout-pb-lg" style="padding-top: 30px; padding-bottom:100px">
    <div data-anim-wrap class="container">

      <div class="row x-gap-60 y-gap-60 pt-50 sm:pt-50">

        <div class="col-md-6">
          <a href="/mice/Emerald-01" class="roomCard -type-1 -hover-button-center -image-border">
            
            <div class="relative overflow-hidden js-section-slider" style="max-height: 535px;" data-gap="0" data-slider-cols="xl-1 lg-1 md-1 sm-1 base-1" data-loop data-pagination="js-slider1-pagination">
              <div class="swiper-wrapper ">
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/emerald1one.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/emerald1two.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/emerald1three.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
              </div>
            </div>


            <div class="roomCard__content mt-30" data-anim-child="slide-up delay-5">
              <div class="d-flex justify-between items-end">
                <h3 class="roomCard__title lh-065 text-40">Emerald 01</h3>
              </div>
              <p class="mt-30">
                Description : well furnished, Royal feel, 8000 sq ft. guest area ,7000 sq . food area, accommodate upto 1000 people , 800 people in theater, 500 in table setup .
                <br>
                Our wonderfully crafted Emerald 01 offers arrangements for 1100 guests in reception or theatre-style seating for those large-scale events and following success stories.
              </p>

              <a href="/mice/Emerald-01" class="button -type-1 mt-30">
                <i class="-icon d-flex icon-arrow-circle-right text-30"></i>
                Book now
              </a>
            </div>
          </a>
        </div>

        <div class="col-md-6">
          <a href="/mice/Emerald-02" class="roomCard -type-1 -hover-button-center -image-border">
            
            <div class="relative overflow-hidden js-section-slider" style="max-height: 535px;" data-gap="0" data-slider-cols="xl-1 lg-1 md-1 sm-1 base-1" data-loop data-pagination="js-slider1-pagination">
              <div class="swiper-wrapper ">
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/emerald2one.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/emerald2two.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
              </div>
            </div>


            <div class="roomCard__content mt-30" data-anim-child="slide-up delay-5">
              <div class="d-flex justify-between items-end">
                <h3 class="roomCard__title lh-065 text-40">Emerald 02</h3>
              </div>
              <p class="mt-30">
                Description : well furnished, Royal feel, 4000 sq ft. guest area ,3000 sq. ft . pre function area,, accommodate upto 300 people in a casual manner.
                <br>
                Reflecting glory in every corner, the Emerald 02 can accommodate up to 300 guests in reception or theatre-style seating. It has always been an ideal choice for sit-down affairs and social receptions.
              </p>

              <a href="/mice/Emerald-02" class="button -type-1 mt-30">
                <i class="-icon d-flex icon-arrow-circle-right text-30"></i>
                Book now
              </a>
            </div>
          </a>
        </div>


        <div class="col-md-6">
          <a href="/mice/Moonlight" class="roomCard -type-1 -hover-button-center -image-border">
            
            <div class="relative overflow-hidden js-section-slider" style="max-height: 535px;" data-gap="0" data-slider-cols="xl-1 lg-1 md-1 sm-1 base-1" data-loop data-pagination="js-slider1-pagination">
              <div class="swiper-wrapper ">
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/moonlight1.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/moonlight2.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/moonlight3.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
              </div>
            </div>


            <div class="roomCard__content mt-30" data-anim-child="slide-up delay-5">
              <div class="d-flex justify-between items-end">
                <h3 class="roomCard__title lh-065 text-40">Moonlight</h3>
              </div>
              <p class="mt-30">
                1st floor, Hall 400 sq ft. 3000 open deck ,
                <br>
                Our aesthetically pleasing venue named ‘Moonlight’ opens up an array of possibilities with its 250 Pax in reception arrangement and 150 Pax in theatre-style seating.
              </p>

              <a href="/mice/Moonlight" class="button -type-1 mt-30">
                <i class="-icon d-flex icon-arrow-circle-right text-30"></i>
                Book now
              </a>
            </div>
          </a>
        </div>


        <div class="col-md-6">
          <a href="/mice/Mantra" class="roomCard -type-1 -hover-button-center -image-border">
            
            <div class="relative overflow-hidden js-section-slider" style="max-height: 535px;" data-gap="0" data-slider-cols="xl-1 lg-1 md-1 sm-1 base-1" data-loop data-pagination="js-slider1-pagination">
              <div class="swiper-wrapper ">
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/mantra1.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/mantra2.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
              </div>
            </div>


            <div class="roomCard__content mt-30" data-anim-child="slide-up delay-5">
              <div class="d-flex justify-between items-end">
                <h3 class="roomCard__title lh-065 text-40">Mantra</h3>
              </div>
              <p class="mt-30">
                Mantra, a plush venue, is beautifully decorated with all the modern amenities and can accommodate up to 15 Pax in Boardroom and is highly recommended for close-knit networking and small office events.
              </p>

              <a href="/mice/Mantra" class="button -type-1 mt-30">
                <i class="-icon d-flex icon-arrow-circle-right text-30"></i>
                Book now
              </a>
            </div>
          </a>
        </div>


        <div class="col-md-6">
          <a href="/mice/Pavilion" class="roomCard -type-1 -hover-button-center -image-border">
            
            <div class="relative overflow-hidden js-section-slider" style="max-height: 535px;" data-gap="0" data-slider-cols="xl-1 lg-1 md-1 sm-1 base-1" data-loop data-pagination="js-slider1-pagination">
              <div class="swiper-wrapper ">
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/pavilion1.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/pavilion2.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>

  
              </div>
            </div>


            <div class="roomCard__content mt-30" data-anim-child="slide-up delay-5">
              <div class="d-flex justify-between items-end">
                <h3 class="roomCard__title lh-065 text-40">Pavilion</h3>
              </div>
              <p class="mt-30">
                For business events and confidential meetings, Pavilion is the most suitable venue. It conveniently accommodates 25-30 Pax in Conference Hall setting and 50 Pax in Theatre Seating.
              </p>
    

              <a href="/mice/Pavilion" class="button -type-1 mt-30">
                <i class="-icon d-flex icon-arrow-circle-right text-30"></i>
                Book now
              </a>
            </div>
          </a>
        </div>


        <div class="col-md-6">
          <a href="rooms-single-1.html" class="roomCard -type-1 -hover-button-center -image-border">
            
            <div class="relative overflow-hidden js-section-slider" style="max-height: 535px;" data-gap="0" data-slider-cols="xl-1 lg-1 md-1 sm-1 base-1" data-loop data-pagination="js-slider1-pagination">
              <div class="swiper-wrapper ">
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/emerald1one.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="ratio ratio-76:62">
                    <img src="/assets/img/emerald1two.avif" alt="image" class="img-ratio">
                    <div class="-image-border__item"></div>
                  </div>
                </div>
  
  
              </div>
            </div>


            <div class="roomCard__content mt-30" data-anim-child="slide-up delay-5">
              <div class="d-flex justify-between items-end">
                <h3 class="roomCard__title lh-065 text-40">Royale</h3>
              </div>
              <p class="mt-30">
                Description : well furnished, Royal feel, 8000 sq ft. guest area ,7000 sq . food area, accommodate upto 1000 people , 800 people in theater, 500 in table setup .
                <br>
                Our wonderfully crafted Emerald 01 offers arrangements for 1100 guests in reception or theatre-style seating for those large-scale events and following success stories.
              </p>

              <a href="" class="button -type-1 mt-30">
                <i class="-icon d-flex icon-arrow-circle-right text-30"></i>
                Book now
              </a>
            </div>
          </a>
        </div>

      </div>

      
    </div>
  </section>




<%- include('footer') %>
